:root {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1a1818;
    margin: 0px;
}

.container{
    display: block;
}

#background-container {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#background-container svg {
    margin: 10px;
    width: 100%;
    height: 100%;
}

#background-container image {
    width: 10%;
    opacity: .2;
}

#main-container {
    position: relative;
    display: block;
    /*z-index: 1;*/
}

#svg-defs-container svg {
    height: 0px;
}

#svg-defs {
    height: 0px;
}

#header-image-container {
    width: 25%;
    margin: 20px auto;
    overflow: visible;
}

#header-image-container svg {
    display: block;
    width: 100%;
    margin: auto;
    position: relative;
    overflow: visible;
    top: 0;
    left: 0;
}

#header-image-container image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#header-image-container use {
    vector-effect: non-scaling-stroke;
    fill-opacity: 0;
}

#header-container {

}

#header-container h1 {
    font-family: Poppins;
    text-shadow: 3px 3px 2px #807282;
    text-align: center;
    color: #f2aad3;
}

.links-container {
    display: flex;
    flex-direction: column;
}

.link-container {
    position: relative;
    text-align: center;
    margin: 25px auto;
    width: 75%;
    vertical-align: middle;
    overflow: visible;
    /*padding-bottom: 10px;*/
}

.link-clip-div {
    /*this is so the bottom of the clip path lines up with the bottom of the border svg*/
    padding-bottom: 10px;
}

.link-svg-container {
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.link-svg-container svg {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.link-svg-container use {
    vector-effect: non-scaling-stroke;
    fill-opacity: 0;
}

.link-text-box {
    vertical-align: middle;
    padding-top: 10px;
    margin: auto;
    flex: 9;
}

.link-text {
    font-family: Poppins;
    text-shadow: 3px 3px 2px #807282;
    text-decoration: none;
    color: #3c0f77;
}

#footer-container {
    margin: 30px 0px 30px 0px;
}

#footer-container footer {
    font-family: Roboto;
    color: #f2aad3;
    text-align: center;
}

#unicorn-unflipped {
    display: inline-block;
    transform: scale(1, 1);
}

#unicorn-flip {
    display: inline-block;
    transform: scale(-1, 1);
}
