:root {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1a1818;
    margin: 0px;
}

.container{
    display: block;
}

#main-container {
    position: relative;
    display: block;
}

#svg-defs {
    height: 0px;
}

#header-image-container {
    margin: 20px 0px 0px 0px;
}

#header-image-container image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0px auto 0px auto;
}

#header-image-container svg {
    display: block;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
}

#header-image-container use {
    vector-effect: non-scaling-stroke;
    fill-opacity: 0;
}

#header-container {

}

#header-container h1 {
    font-family: Poppins;
    text-shadow: 3px 3px 2px #807282;
    text-align: center;
    color: #f2aad3;
}

.links-container {
    display: flex;
    flex-direction: column;
}

.link-container {
    position: relative;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    vertical-align: middle;
}

.link {
    /*background-color: powderblue;*/
    /*this is so the bottom of the clip path lines up with the bottom of the border svg*/
    padding-bottom: 10px;
}

.link-svg {
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.link-svg svg {
    width: 100%;
    height: 100%;
}

.link-svg use {
    vector-effect: non-scaling-stroke;
    fill-opacity: 0;
}

.link-container:hover {
    /*cursor: pointer;*/
    /*filter: blur(5px);*/
}

.link-icon-box {
    vertical-align: middle;
    padding: 5px;
    flex: 1;
    margin: 10px;
}

.link-icon {
    display: inline;
    margin: auto;
}

.link-text-box {
    vertical-align: middle;
    margin: auto;
    flex: 9;
}

.link-text {
    font-family: Poppins;
    text-shadow: 3px 3px 2px #807282;
    text-decoration: none;
    color: #3c0f77;
}

#footer-container {
    margin-top: 30px;
}

#footer-container footer {
    font-family: Roboto;
    color: #f2aad3;
    text-align: center;
}
