:root {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: plum;
    margin: 0px 10px 0px 10px;
}

.container{
    display: block;
}

#main-container {
    position: relative;
    display: block;
}

#header-image-container {
    margin: 20px 0px 0px 0px
}

#header-image-container image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0px auto 0px auto;
}

#header-image-container svg {
    display: block;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
}

#header-container {

}

#header-container h1 {
    font-family: Poppins;
    text-align: center;
    color: #3c0f77;
}

.link-container {
    text-align: center;
    display: flex;
    background-color: powderblue;
    border-radius: 10px;
    border: 5px solid slategray;
    width: 75%;
    vertical-align: middle;
}

.link-container:hover {
    cursor: pointer;
}

.link-icon-box {
    vertical-align: middle;
    padding: 5px;
    flex: 1;
    margin: 10px;
}

.link-icon {
    display: inline;
    margin: auto;
}

.link-text-box {
    vertical-align: middle;
    margin: auto;
    flex: 9;
}

.link-text {
    text-decoration: none;
    color: #3c0f77;
}

#footer-container {

}

#footer-container footer {
    font-family: Roboto;
    text-align: center;
}
